<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <body>
            
            <nav class="navbar navbar-expand-lg bg-body-tertiary" >
                <div class="container-fluid" ><style max-width="100%"></style>
                    
                  <img src="https://t3.ftcdn.net/jpg/02/84/61/00/360_F_284610055_6SdCJkTFYvJ4oMicMJiqYn92mJmPVxQR.jpg " width="60" height="50" alt="Rick webpage">
                  
                    <a class="nav-link" href="C:\Users\ADMIN\Personal-Portfolio-Landing-Page-Project\index.html">My Portfolio</a>

            <div id="footerDiv" style="padding: 100px; padding-left: 500px ; font-size: large; background-color: gainsboro;">
               <h1 style="color: blue;"> Follow me in social media pages</h1>

                
               <p>
                <a href="https://www.instagram.com/rick_mwangi_43?igsh=MTI4MHBjdXdzbmRyeg==" class="link-underline-primary">
                  <img src="C:\Users\ADMIN\Personal-Portfolio-Landing-Page-Project\templates\insta.jpg" alt="Link Image" style="width: 60px; height: 60px; margin-right: 50px;">
                </a>
                Instagram
              </p>
              
              
              <p>
                <a href="https://www.youtube.com/@FrederickMwangi-gc9zv" class="link-underline-primary">
                  <img src="C:\Users\ADMIN\Personal-Portfolio-Landing-Page-Project\templates\you.jpg" alt="Link Image" style="width: 60px; height: 60px; margin-right: 50px;">
                </a>
                youtube
              </p>
              <p>
                <a href="https://vm.tiktok.com/ZMh5ySWek/" class="link-underline-primary">
                 <img src="C:\Users\ADMIN\Personal-Portfolio-Landing-Page-Project\templates\tk.png" alt="Link Image" style="width: 60px; height: 60px; margin-right: 50px;">
                </a>
                Tiktok
              </p>
              <p>
                <a href="https://www.facebook.com/rick.mwangi43" class="link-underline-primary">
                  <img src="C:\Users\ADMIN\Personal-Portfolio-Landing-Page-Project\templates\fb.jpg" alt="Link Image" style="width: 60px; height: 60px; margin-right: 50px;">
                </a>
                Facebook
              </p>
              <h5 > <img src="C:\Users\ADMIN\Personal-Portfolio-Landing-Page-Project\templates\ml.png"  style="width: 60px; height: 60px;"> Email</h5<br>

                <h6>mwangifrederick773@gmail.com</h6>
               

            </div>


        </div>
    </div>
</body>
        </body>

    </head>
</html>